<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
        <div id="content">
            <div class="container">
                <h3>Catálogo de peixes</h3>

                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Peso</th>
                            <th>Data de Catalogação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="peixe: ${peixes}">
                            <td th:text="${peixe.id}"></td>
                            <td th:text="${peixe.nome}"></td>
                            <td th:text="${peixe.descricao}"></td>
                            <td th:text="${peixe.peso}"></td>
                            <td th:text="${peixe.data_catalogo}"></td>

                            <td>
                                <a class="btn-sm btn-primary" th:href="@{/peixes/update/{id}(id=${peixe.id})}">Editar</a>
                            </td>

                        </tr>
                    </tbody>

                    
                </table>
                <a href="peixes/add" class="btn-sm btn-primary"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    
</body>
</html>